__pycache__/
*.py[cod]
*$py.class

*.so
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.mo

media/
staticfiles/
static/

env/
venv/
ENV/
VENV/
.venv/
.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.eggs/
*.egg

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

*.log
*.secret
local_settings.py

*.sql
postgres_data

node_modules/
npm-debug.log
yarn-error.log

*.whl